.connect-section {
  box-sizing: border-box;
  width: 100%;
  background: #E7F0FA;
}

.connect-section-container{
  box-sizing: border-box;
  width: 100%;
  padding: 133px 0 155px;
  background: #fff;
  border-top-left-radius: 748px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect-section-container-title {
  font-family: 'Montserrat-Regular';
  font-size: 65px;
  margin-bottom: 63px;
  margin-left: 65px;
}

.form-button-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-button-group_button {
  width: 179px;
  height: 49px;
  background: #4FB1E8;
  color: #fff;
  border-radius: 30px;
  border: none;
  border-top-right-radius: 0;
  font-family: 'Montserrat-Regular';
  font-size: 23px;
  cursor: pointer;
  margin-top: 22px;
}

.form-button-group_button:hover {
  opacity: 70%;
}

.form-button-group_button:focus {
  outline:0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 678px;
}

.form-item-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 27px;
}

.form-item-container.textarea {
  align-items: flex-start;
}

.form-item-label {
  font-family: 'Montserrat-Bold';
  font-size: 17px;
  margin-right: 31px;
  text-align: right;
}

.form-item-label.textarea {
  max-width: 109px;
}

.form-item-input {
  width: 519px;
  height: 45px;
  border: 1px solid #576FD5;
  font-family: 'Montserrat-Regular';
  font-size: 18px;
}

.form-item-input.select {
  width: 524px;
  padding-left: 15px;
}

.form-item-input.textarea {
  max-width: 519px;
  min-width: 519px;
  height: 253px;
  min-height: 253px;
  max-height: 253px;
}

@media only screen and (max-width: 1000px)  {
  .connect-section-container{
    border-top-left-radius: 0;
  }
}

@media only screen and (max-width: 750px)  {
  .form {
    width: 478px;
  }

  .form-item-input {
    width: 319px;
  }

  .form-item-input.select {
    width: 324px;
  }

  .form-item-input.textarea {
    max-width: 319px;
    min-width: 319px;
  }
}

@media only screen and (max-width: 550px)  {
  .form {
    width: 378px;
  }

  .form-item-input {
    width: 219px;
  }

  .form-item-input.select {
    width: 224px;
  }

  .form-item-input.textarea {
    max-width: 219px;
    min-width: 219px;
  }

  .connect-section-container-title {
    font-size: 45px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 420px)  {
  .form {
    width: 178px;
  }

  .form-item-input {
    width: 119px;
  }

  .form-item-input.select {
    width: 124px;
  }

  .form-item-input.textarea {
    max-width: 119px;
    min-width: 119px;
  }

  .connect-section-container-title {
    font-size: 35px;
    margin-left: 0;
  }
}