.about-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 140px 0  89px 110px;
  box-sizing: border-box;
}

.about-section-text-container {
  max-width: 762px;
  font-family: 'Montserrat-Regular';
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.about-section-text-title {
  font-family: 'Montserrat-Regular';
  font-size: 42px;
  color: #000046;
  margin: 0 0 16px 0;
  width: 100%;
}

.about-section-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-section-container-image {
  width: 727px;
  height: 727px;
  margin-right: 100px;
}

.about-section-text-container.sustainability {
  margin-bottom: 0;
  max-width: 628px;
}

.about-section-text-container.transparency {
  max-width: 729px;
  margin: 100px 38px 0 0;
  justify-content: flex-end;
  align-items: flex-end;
}

.about-section-container-transparency_image {
  width: 728px;
  height: 728px;
}

.about-section-button {
  height: 49px;
  width: 252px;
  background: #4FB1E8;
  border-radius: 30px;
  border: none;
  border-top-right-radius: 0;
  margin: 150px -80px 0 0;
  font-family: 'Montserrat-Regular';
  font-size: 23px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.about-section-button:hover {
  opacity: 70%;
}

.about-section-button:focus {
  outline:0;
}

@media only screen and (max-width: 1550px)  {
  .about-section-container-image {
    width: 527px;
    height: 527px;
    margin-right: 70px;
  }

  .about-section-container-transparency_image {
    width: 528px;
    height: 528px;
  }

  .about-section {
    padding: 100px 70px 100px;
  }
}

@media only screen and (max-width: 1000px)  {
  .about-section-container {
    flex-direction: column;
  }

  .about-section-container.transparency {
    flex-direction: column-reverse;
  }

  .about-section-text-container {
    margin-left: auto;
    margin-right: auto;
  }

  .about-section-text-container.sustainability {
    margin-bottom: 50px;
  }

  .about-section-text-container.transparency {
    margin: 0;
    max-width: 628px;
  }

  .about-section-button {
    margin: 20px 0px 0 0;
  }
}

@media only screen and (max-width: 600px)  {
  .about-section-container-image {
    width: 327px;
    height: 327px;
    margin-right: 0;
  }

  .about-section-container-transparency_image {
    width: 328px;
    height: 328px;
  }

  .about-section {
    padding: 20px;
  }
}

@media only screen and (max-width: 400px)  {
  .about-section-container-image {
    width: 227px;
    height: 227px;
  }

  .about-section-container-transparency_image {
    width: 228px;
    height: 228px;
  }
}