.head-section {
  width: 100%;
  height: 748px;
  border-bottom-right-radius: 748px;
  background: #000046;
  display: flex;
  flex-direction: column;
  position: relative;
}

.head-section-button_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.head-section-button {
  height: 40px;
  width: 210px;
  background: #54F4E8;
  border-radius: 30px;
  border: none;
  border-bottom-left-radius: 0;
  margin: 36px 55px 0 0;
  font-family: 'Montserrat-Regular';
  font-size: 23px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-section-button:hover {
  opacity: 70%;
}

.head-section-button:focus {
  outline:0;
}


.head-section-img {
  height: 946px;
  width: 984px;
  position: absolute;
  top: -40px;
  right: 262px;
}

.head-section-title_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 110px;
}

.head-section-title_logo {
  margin-bottom: 95px;
  width: 238px;
  height: 63px;
}

.head-section-title_title {
  color: #FFFFFF;
  font-family: 'Montserrat-Regular';
  max-width: 637px;
  font-size: 35px;
  z-index: 5;
}

@media only screen and (max-width: 1790px)  {
  .head-section-img {
    height: 846px;
    width: 884px;
    right: 202px;
  }
}

@media only screen and (max-width: 1680px)  {
  .head-section-img {
    height: 806px;
    width: 844px;
    right: 132px;
  }
}

@media only screen and (max-width: 1580px)  {
  .head-section-img {
    height: 706px;
    width: 744px;
    right: 102px;
  }
}

@media only screen and (max-width: 1480px)  {
  .head-section-title_title {
    max-width: 437px;
    z-index: 5;
  }
}

@media only screen and (max-width: 1150px)  {
  .head-section-img {
    display: none;
  }

  .head-section-title_title {
    max-width: 637px;
    z-index: 5;
  }
}

@media only screen and (max-width: 800px)  {
  .head-section-title_title {
    max-width: 437px;
    font-size: 30px;
  }

  .head-section {
    width: 100%;
    height: 748px;
    border-bottom-right-radius: 0;
  }
}

@media only screen and (max-width: 500px)  {
  .head-section-title_title {
    font-size: 30px;
  }

  .head-section-title_container {
    margin-left: 25px;
    margin-right: 25px;
  }
}