@font-face {
  font-family: 'Montserrat-Regular';
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}

.App {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}