.products-section {
  box-sizing: border-box;
  width: 100%;
}

.products-section-container {
  box-sizing: border-box;
  width: 100%;
  padding: 127px 0 137px 110px;
  background: #E7F0FA;
  border-top-right-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.products-section-container_title {
  font-family: 'Montserrat-Regular';
  font-size: 69px;
  color: #000046;
  max-width: 867px;
  margin-bottom: 127px;
}

.products-section-container-product {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.products-section-container-product_blob {
  width: 476px;
  height: 476px;
  border-radius: 50%;
  border-bottom-right-radius: 0;
  background: #000046;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-section-container-product_blob > img {
  width: 268px;
  height: 30px;
}

.products-section-container-product_blob.govirtual > img {
  width: 250px;
  height: 76px;
}

.products-section-container-product_blob.eventopedia > img {
  width: 313px;
  height: 49px;
}

.products-section-container-product_blob.govirtual {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0;
  background: #000000;
}

.products-section-container-product_blob.eventopedia {
  background: #2A3887;
}

.products-section-container-product_about {
  margin-left: 96px;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  font-family: 'Montserrat-Regular';
  font-size: 18px;
}

.products-section-container-product_about.govirtual {
  margin-left: 0;
  margin-right: 55px;
  max-width: 511px;
  align-items: flex-end;
}

.products-section-container-product_about.eventopedia {
  max-width: 530px;
}

.products-section-container-product_button {
  height: 49px;
  width: 253px;
  background: #4FB1E8;
  color: #fff;
  border-radius: 30px;
  border: none;
  border-bottom-left-radius: 0;
  margin: 36px 55px 0 0;
  font-family: 'Montserrat-Regular';
  font-size: 23px;
  cursor: pointer;
  margin-top: 70px;
}

.products-section-container-product_button.govirtual {
  margin-right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
}

.products-section-container-product_button:hover {
  opacity: 70%;
}

.products-section-container-product_button:focus {
  outline:0;
}

.products-section-container-product.govirtual {
  justify-content: flex-end;
  margin-right: 173px;
}

@media only screen and (max-width: 1280px)  {
  .products-section-container_title {
    font-size: 59px;
    max-width: 767px;
  }

  .products-section-container-product_about {
    max-width: 460px;
  }

  .products-section-container {
    padding-left: 50px;
  }

  .products-section-container-product_about.govirtual {
    max-width: 411px;
  }

  .products-section-container-product.govirtual {
    margin: 50px auto;
  }

  .products-section-container-product_about.eventopedia {
    max-width: 430px;
  }
}

@media only screen and (max-width: 1100px)  {
  .products-section-container_title {
    font-size: 49px;
    max-width: 667px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .products-section-container {
    border-top-right-radius: 0;
  }

  .products-section-container {
    padding-right: 50px;
  }

  .products-section-container-product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .products-section-container-product_blob {
    margin-bottom: 50px;
  }

  .products-section-container-product.govirtual {
    flex-direction: column-reverse;
  }

  .products-section-container-product_button {
    margin-top: 30px;
  }

  .products-section-container-product_about {
    margin-left: 0;
  }
}

@media only screen and (max-width: 550px)  {
  .products-section-container_title {
    font-size: 39px;
    max-width: 467px;
  }

  .products-section-container {
    padding-top: 50px;
  }

  .products-section-container-product_blob {
    width: 376px;
    height: 376px;
  }
}

@media only screen and (max-width: 400px)  {
  .products-section-container_title {
    font-size: 29px;
  }

  .products-section-container-product_blob {
    width: 276px;
    height: 276px;
  }
}